body {
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, 'Segoie UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  padding: 1em;
}

.main {
  width: 99%;
  max-width: 38rem;
  margin: 0 auto 2em;
}

h2,
h3 {
  margin-top: 2em;
  margin-bottom: 0;
}

p {
  margin-bottom: .5em;
}

li {
  margin-bottom: .2em;
}

a {
  color: #4288bb;
          text-decoration-color: #bad7ec;
  -webkit-text-decoration-color: #bad7ec;
          text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

a:hover {
  color: #115c94;
          text-decoration-color: #115c94;
  -webkit-text-decoration-color: #115c94;
          text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

hr {
  height: 0;
  padding: 0;
  border: 0;
  margin: 2em auto;
  border-top: 1px solid #ccc;
}

dt {
  margin-top: .2em;
}

@media (min-width: 720px) {
  body {
    font-size: 15px;
  }

  .main {
    margin: 3em auto 4em;
  }
}
