html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font: 17px/1 -apple-system, BlinkMacSystemFont, 'Segoie UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  width: 99%;
  overflow: hidden;
  max-width: 38rem;
  margin: 0 auto;
  display: flex;
  flex: 10 1 auto;
  flex-direction: column;
  justify-content: space-around;
}

h1,
h2,
h3,
p {
  text-align: center;
  margin: 12px auto;
}

h2 small {
  font-size: 18px;
  line-height: 18px;
}

.weather-icon {
  display: block;
  margin: 0 auto;
  opacity: .95;
  width: 80px;
}

footer img {
  opacity: .2;
}

h1 {
  margin: 0 auto;
  opacity: .15;
  font-size: 2.4em;
  font-weight: 200;
}

h2 {
  font-weight: 200;
  font-size: 2.8em;
  flex: 2 0 auto;
  margin-bottom: 0;
}

p {
  flex: 1 0 auto;
}

a {
  color: inherit;
          text-decoration-color: #ddd;
  -webkit-text-decoration-color: #ddd;
          text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

a:hover {
  color: inherit;
          text-decoration-color: #333;
  -webkit-text-decoration-color: #333;
          text-decoration-skip: ink;
  -webkit-text-decoration-skip: ink;
}

h1 a,
h1 a:hover {
  text-decoration: none;
}

hr {
  height: 0;
  padding: 0;
  border: 0;
  margin: 2em auto;
  border-top: 1px solid #ccc;
}

footer p {
  font-size: .7em;
}

@media (min-height: 452px) {
  .weather-icon {
    width: 100px;
  }

  h2 {
    font-size: 3.5em;
  }
}

@media (min-height: 600px) {
  header {
    margin-top: 2em;
  }

  footer {
    margin-bottom: 2em;
  }
}
