{% extends 'base.html' %}

{% block body %}
  {% if weather.alerts %}
    {% for alert in weather.alerts %}
      {{ alert }}
    {% endfor %}
  {% endif %}
  <p>{{ location }}</p>
  <img class="weather-icon" src="../static/assets/icons/{{ weather.icon }}.png" alt="{{ weather.summary }}" />
  <h2>{{ weather.temperature }}&thinsp;℃</h2>
  <p>
    {{ weather.daily_forecast }}<br>
    Min: {{ weather.daily_min_temp }}&thinsp;℃, max: {{ weather.daily_max_temp }}&thinsp;℃.
  </p>

  {% for f in forecast %}
  <p hidden>{{ f.day }} {{ f.icon }} {{ f.min_temp }} / {{ f.max_temp }}</p>
  {% endfor %}

{% endblock %}

{% block footer %}
<p>
  Powered by <a href="https://darksky.net/poweredby/" target="_blank">DarkSky</a> and
  <a href="http://www.geonames.org">GeoNames</a>,
  Icons by <a href="https://icons8.com/">icons8</a>.
</p>
{% endblock %}
