{% extends 'base.html' %}

{% block body %}

  <form id="locationChooserForm" name="location-chooser" method="post" action="{{ url_for('get_weather', location=location) }}">
    <input type="text" value="{{ location }}" name="new_location" id="locationChooser" />
    <input type="submit" />
  </form>

  {% if weather.alerts %}
    {% for alert in weather.alerts %}
      <p class="alert">{{ alert }}</p>
    {% endfor %}
  {% endif %}

  <img class="weather-icon" src="../static/assets/icons/{{ weather.icon }}.png" alt="{{ weather.summary }}" />
  <h2>{{ weather.temperature }}&thinsp;℃</h2>
  <p>
    {{ weather.daily_forecast }}<br>
    Min: {{ weather.daily_min_temp }}&thinsp;℃, max: {{ weather.daily_max_temp }}&thinsp;℃.
  </p>

  <div class="weekly-forecast">
    {% for f in forecast %}
    <div class="weekly-forecast-item">
      <h4>{{ f.day }}</h4>
      <img class="forecast-icon" src="../static/assets/icons/{{ f.icon }}.png" alt="{{ forecast.summary }}" />
      <p>{{ f.min_temp }}&thinsp;℃ / {{ f.max_temp }}&thinsp;℃</p>
    </div>
    {% endfor %}
  </div>

{% endblock %}

{% block footer %}
  <p>
    Powered by <a href="https://darksky.net/poweredby/" target="_blank">DarkSky</a> and
    <a href="http://www.geonames.org">GeoNames</a>,
    Icons by <a href="https://icons8.com/">icons8</a>.
  </p>
{% endblock %}
